@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: rgb(144, 207, 144);
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  font-size: 1.5rem;
  color: rgb(105, 104, 104);
}
.nav-link:hover {
  color: rgb(17, 0, 255);
}
.active {
  color: rgb(17, 0, 255) !important;
}
.table > :not(caption) > * > * {
  border-bottom-width: 0;
}
